<!DOCTYPE html>
<html>
    <head>
      <!-- this support arabic and English properly -->
        <meta charset="utf-8">
        <!-- this is compat with ES -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link  rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Abel&family=Almendra&display=swap">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/style.css">
      </head>
      <body>
        <!-- Stating NavBar Section -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
              <a class="navbar-brand" href="#">
              <div>
                  <img src="../../Images/logo.png" alt="Logo Images" class="Logo">
                  <div class="Naming">

                        Strategic <br>
                    Management<br>
                    <p>Experts</p>
                  </div>
              </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="../../index.html">SEVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OUR TEAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RESOURCRS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>

    </ul>

  </div>
</div>
</nav>
<!-- End Navbar Section -->
<!-- Starting A Second Section -->

<div class="outerClass">
    <div class="our-company"></div>
    <div class="InnerBox2">
    </div>
    <div class="container">
    <div class="content text-center">
        <h3 class="homehead">
            Try Not To become a man of success<br>
            Rather become a <span class="heading1"> man of value </span>
        </h3>
    </div>

    <div class="Body">
      <div class="row">
          <div class="col-sm-4">

              <div class="service">
                <div class="text-center">
                  <img alt="" src="../../Images/About_US.png" class="AboveServImg">
                  <h3>About Us</h3>
                </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
          <div class="col-sm-4">

            <div class="service">
                <div class="text-center">
              <img alt="" src="../../Images/OurMission.png" class="AboveServImg">
              <h3>Our Vision</h3>
            </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="service">
                <div class="text-center">
              <img alt="" src="../../Images/ourValue.png" class="AboveServImg">
              <h3>Our Value</h3>
            </div>
               <ul>
                  <li>Knowing Our Clients</li>
                  <li>Supporting Our Community and environment</li>
                  <li>Encouraging the entrepreneurial spirit</li>
                  <li>    Respect , Honestly and trust</li>
              </ul>
            </div>
          </div>
      </div>

  </div>
    </div>
</div>
<!-- start Training Section -->
<div class="container">
    <div class="training text-center">
        <img  alt="" src="../../Images/About_US.png">
        <h3> <span>Our</span> Training</h3>
        <div>
          <p class="traing-text">In <span>SM Experts </span> our professional instructors are specialized in the following training topics for corporates</p>
        </div>
    </div>
</div>
<!-- end training Section  -->
<!-- start services planning -->
<div class="container">
  <div class="row">
    <div class="ServiceBlock col-sm-6">
      <div class="row text-center">
        <div class="imageBlock col-sm-2">
            <img alt="" src="../../Images/as3.png">
        </div>
      <div class="col-sm-8">
          <h4 class="sericeHeading">
              Project Management Training
          </h4>
          <p class="servicetext">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
      </div>
    </div>
    </div>
    <div class="ServiceBlock col-sm-6">
      <div class="row text-center">
        <div class="imageBlock imageBlockex col-sm-2">
            <img alt="" src="../../Images/as2.png">
        </div>
        <div class="col-sm-8">
            <h4 class="sericeHeading">
              Business Analysis Training
            </h4>
            <span class="btn btn-primary">
              READ MORE
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ServiceBlock col-sm-6">
      <div class="row text-center">
      <div class="imageBlock col-sm-2">
          <img alt="" src="../../Images/icon32.png">
      </div>
      <div class="col-sm-8">
        <h4 class="sericeHeading">Managament Skill Training</h4>
        <p class="servicetext">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
    </div>
  </div>
    <div class="ServiceBlock col-sm-6">
    <div class="row text-center">

      <div class="imageBlock col-sm-2">
          <img alt="" src="../../Images/wew.png">
      </div>
      <div class="col-sm-8">
        <h4 class="sericeHeading">Custmized Training ?</h4>
        <p class="servicetext">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
    </div>
  </div>
  </div>

</div>
<!-- end services planning -->
<!-- End A Second Section -->
<!-- start map section -->
  <div id="map"></div>
<!-- end map section -->
<div class="footer" style="margin-top:0px">
  <div class="BOX">
    <div class="container">
      <div class="row">
      <div class="col-sm-8 col-xs-12">
      <p class="" style=" padding-top:30px; padding-left: 10px; color:#fff">
        copyright &copy; 2015 | <a href="#" class="Link">Strategic Management Experts</a>. All right Reserved
      </p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <a href="#" style="float:right" class="footerLogo text-center">
        <img class="" style="padding:20px" src="../../Images/logo.png">
      </a>
    </div>
  </div>
    </div>
  </div>

</div>
<!-- End The Third Section -->
    <script>
    var map;
    function initMap (){
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 30.0444, lng: 31.2357},
        zoom: 16
      });
    }
    </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
          <script  type="text/javascript"src="../JavaScript/javascript.js"></script>
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAttpcGQZxkgbmI2MSojgP7DPfeGCJkgWY&callback=initMap"
            async
          ></script>
      </body>

</html>
